<div class="container"> 
    <div class="auth-container"> 
        <h1>Login</h1> 
<% if (errors && errors.length > 0) { %> 
    <div class="error-message"> 
        <ul> 
            <% errors.forEach(e => { %> 
                <% if (typeof e === 'string') { %> 
                    <li><%= e %></li> 
                <% } else if (e && e.message) { %> 
                    <li><%= e.message %></li> 
                <% } else { %> 
                    <li><%= JSON.stringify(e) %></li> 
                <% } %> 
            <% }) %> 
        </ul> 
    </div> 
<% } %>
        
        <form class="form-floating mb-3" action="/signin" method="POST"> 
            <div class="form-group"> 
                <label for="email">Email</label> 
                <input class="form-control" type="email" id="email" name="email" required> 
            </div> 
            
            <div class="form-group"> 
                <label for="password">Password</label> 
                <input class="form-control" type="password" id="password" name="password" required> 
            </div> 
            
            <div class="form-actions"> 
                <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">Login</button> 
            </div> 
        </form> 
        <div> 
            <a href="/signup" class="mt-5">Create a new account?</a>
            <br/> 
            <a href="/">Back to Home</a> 
        </div> 
    </div> 
</div>