    <footer class="mb-2 border-top footer text-muted" style="width: 100%; bottom: 0; position: absolute;">
        <div class="container">
            &copy; 2025 - Book Management 
        </div>
    </footer>