<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Book List</title> 
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"> 
</head> 

<body > 
    
<%- include('./partials/header') %>
    <div class="container"> 
        <main class="pb-3">

            <%- body %>
        </main>
        
    </div> 
            <%- include('./partials/footer') %>
</body> 
</html>